/orderplanner/.settings
/orderplanner/target
/orderplanner/.classpath
/orderplanner/.project
/orderplanner/logfile_IS_UNDEFINED
/orderplanner-interfaces/.project
/orderplanner-interfaces/.settings
/orderplanner-interfaces/target
/orderplanner-interfaces/.classpath
target
.classpath
.project
.settings
